*
{
    box-sizing: border-box;
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
p, span, label{
    user-select: none;
    line-height: 30px;
    font-size: 18px;
    cursor: pointer;
}
textarea{
    height: 50vh;
    width: 33vw;
    font-size: 17px;
    margin-bottom: 5px;
    resize: none;
    cursor: text;
}
input[type="text"]{
    width: 25vw;
}
ul{
    list-style-type: none;
}
body{
    background-color: rgb(184, 183, 183); /*浅色模式为white*/
    display: flex;
    justify-content: center;
    height: 100%;
}

div.background{
    background-color: white;
    width: 50vw;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: -1;
}
div.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    width: 50vw;
    height: 96vh;
    overflow: auto;
    position: relative;
}

div.main *{
    flex-shrink: 0;
}

div.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-bottom: 3px;
    font-size: 25px;
    font-weight: bolder;
    user-select: none;
}

div.subtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-top: 0;
    font-size: 17px;
    font-weight: bold;
    user-select: none;
}

div.action{
    background-color: #4662d9;
    color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 250px;
    cursor: pointer;
    margin: 15px;
}
div.action *{
    font-size: 16px;
}
div.action:hover{
    font-weight: bold;
}
div.action:hover *{
    cursor: pointer;
    user-select: none;
    margin: 0;
}
div.action:active{
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

input.invaild + span.check::after {
    content: "✖";
    color: red;
    padding-left: 5px;
}
input.vaild + span.check::after {
    content: "✓";
    color: green;
    padding-left: 5px;
}

div.form{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
div.formItem{
    margin: 5px;
}
div.formItem_Copy{
    display: flex;
    align-items: center;
    margin: 5px;
}

div.info{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border-color: #4662d9;
    border: 3px solid;
    width: 43vw;
}
div.info *{
    margin: 3px;
    overflow-wrap: anywhere;
    font-size: 16px;
}
div.info:active:not(:has(img.icon:active,div.checkbox:active)){
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}
div.info:active img.icon:active{
    box-shadow: none;
}
div.info:hover:not(:has(img.icon:hover)){
    cursor: pointer;
    font-weight: bold;
}
div.tool{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    width: 39vw;
}
img.icon{
    width: 20px;
    height: 20px;
    margin: 4px;
    user-select: none;
    cursor: pointer;
}
div.checkbox{
    border-right: 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 100%;
}
div.checkbox:active{
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}
div.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 39vw;
}